
body {
	background-color: #474750;
}
body,
h1, h2, h3, h4, h5, h6, 
p, a {
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none
}

.menu {
	background-color: #5790e5;
	float: left;
	top: 0;
	left: 0;
	height: 100%;
	width: 90px;
	position: fixed;
}

.feed {
	width: 85%;
	margin: 20px 0 20px 20px;
}
.container {
	margin-left: 90px;
	padding-left: 20px;
	width: 535px;
	float: left;
	background-color: #FCFCFC;
}
#test {
	width: 515px;
}
.rssHeader {
	margin: 10px 0 20px 0;
}
.refresh {margin-left: 15px;}
.rssHeader a {
font-size: 1.3em;
font-weight: 700;
color: #3D3B49;
margin: 25px;
}
li.rssRow {
	margin: 20px 0;
border-bottom: 1px solid #F0F0F0;
}
li.rssRow div { color: #3D3B49; }
.avatar {
border: 5px solid #ABC8F2;
width: 65px;
float: left;
margin: 15px 0 20px 6px;
}
.fork {
color: #3f3f3f;
font-size: 1.5em;
margin: 22px 5px 0 0;
float: right;
}
.menu ul {
float: left;
margin: 0;
width: 100%;
margin-top: 45px;
}
.menu ul li {
border-bottom: 1px solid #78AAF3;
float: left;
width: 100%;
}
.menu ul li a {
color: #FFF;
font-size: 2.5em;
padding: 15px 30px;
float: left;
}
.menu ul li a:hover {
color: #e3e3e3;
}
.tour {
position: absolute;
bottom: 0;
left: 40px;
color: #FFF;
font-size: 1.5em;
cursor: pointer;
}